body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.topnav {
    background-color: RED;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
     background-color: lightCoral;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: white;
    color: white;
}
.seriesimage:hover {
    transform: scale(1.2);
}
.current{
background-color:Crimson;
color:white;
}
input[type=button] {
    background-color: RED;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:100%
}